.contactme-section {
  background: linear-gradient(to right, #2c3e50, #4ca1af);
  padding: 50px 0;

}

.contact-form {
  background: #fff;
  margin: 10% auto 5%;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-form .form-control {
  border-radius: 1rem;
  margin-bottom: 1rem; 
}

.contact-image {
  text-align: center;
}

.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}

.contact-form form {
  padding: 14%;
}

.contact-form form .row {
  margin-bottom: 1rem; 
}

.contact-form h1 {
  font-weight: bold;
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}

.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem; /* Add space above the button */
}

.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
  margin-top: 1rem; /* Add space above the button */
}

/* Add this new class for form groups */
.form-group {
  margin-bottom: 1rem;
}