/* src/App.css */
body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.section {
  height: 100vh; 
  padding: 50px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px; 
}

.content {
  padding-top: 60px; /* Adjust based on navbar height */
}
